<!doctype html>
<html>
<head>
	<title>LífeyrisApp</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
<%- include partial/header.ejs %> 
<%- include partial/sidebar.ejs %> 
<div class="container">
    <h1><span class="glyphicon glyphicon-piggy-bank"></span> Sameign</h1>
    <a  class="btn btn-success">+</a>
    <br>

    <table class="table table-striped">
            <thead>
              <tr>
                <th>Áunnin árleg réttindi</th>
                <th>Áunnin mánaðarleg réttindi</th>
                <th>Mánaðarleg réttindaávinnsla</th>
                <th>Útgreiðsla hefst við aldur</th>
                <th>Áunnin mán réttindi við starfslok</th>
                <th>Áunnin réttindi við upphaf útgreiðslu</th>
                <th>Starfslok dagsetning</th>
                <th>Fyrsta útgreiðsla dagsetning</th>
                <th>Árafjöldi til starfsloka</th>
                <th>Árafjöldi til upphafs útgreiðslu</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <hr>
</div>
</body>
</html>