<nav class="navbar" style="background-color: #18B3D1; display: inline-block; width: 100%">
    <a class="navbar-brand" style="color: white; width: 10%" href="/dashboard">LífeyrisApp</a>
    <a href="/logout"><span class="glyphicon glyphicon-log-out" style="color: white"></span></a>
</nav>