<div class="col-sm-2 col-md-2 sidebar">
    <div class="tabbable">
        <ul class="nav nav-sidebar ">
            <li class=""><a href="/dashboard" data-toggle="tab">Dashboard</a></li>             
            <li class=""><a href="/sameign" data-toggle="tab">Sameignarsjóðir</a></li> 
            <li class=""><a href="/sereign" data-toggle="tab">Séreignarsjóðir</a></li>    
            <li class=""><a href="/profile" data-toggle="tab">Profile</a></li>
             
        </ul>
    </div>
</div>